

<form action="" method="get">
  <input type="text" name="number" placeholder="Enter a number"/>
  <input type="submit" value="Submit Number"/>
</form>

<hr/>
You guessed: <%= @guess %>
<br />
<%= @result %>

<br />
<br />
<%= cookies[:secret_number] %>
