<!DOCTYPE html>
<html>
  <head>
    <title>Ourapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>HiLo Game!</h1>
    <p>
      Enter a number between 1 and 100
    </p>

    <%= yield %>
  </body>
</html>
